.main{
	width: 500px;
}
.top{
	text-align: center;
}
.top-2{
	text-align: center;
}
.middle{
	text-align: center;
}
.bottom{
	text-align: center;
}
.bottom-2{
	text-align: center;
}
.middle-text{
	display: inline-block;
}
